@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobilePopupAfter {
    @apply static bottom-0 w-full translate-x-0 translate-y-0 rounded-b-none after:absolute after:left-0 after:right-0 after:top-full after:h-full after:bg-inherit;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
